* {
    /*border: 1px solid red;*/
    box-sizing: border-box;
}


@media screen and (max-width:414px) {

    .wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 405px;

    }

    .header_line {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .header_inner {
        display: flex;
        flex-direction: column;


    }

    #cart_icon {
        display: none;
    }

    #creditcard {
        display: none;
    }

    .header_inner_left_part {
        display: flex;
        width: 100%;
        flex-direction: column;

    }

    .left_part_title {
        margin-top: 50px;
        line-height: 30px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;

    }

    .left_part_text {
        margin-top: 10px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;

    }

    .left_part_button {
        margin-top: 30px;
        display: flex;
        width: 30%;
        padding: 10px;
        border-radius: 100px;
        background-color: #5222D0;
        text-transform: uppercase;

    }

    .left_part_button_text {
        padding-right: 10px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #fff;
    }

    .nav {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        line-height: 10px;

    }

    .nav_item {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        margin-right: 0px;
        margin-bottom: 30px;
        color: #5222D0;
    }

    .header_inner_right_part {

        background-image: url('assets/images/backgroundboy.svg');

    }

    .right_part_picture {
        margin-top: 15px;
        margin-left: 23px;
        display: grid;
        width: 80vw;
        height: 50vh;
    }
}


@media screen and (min-width:1024px) {
    .wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1292px;
    }

    .header_inner {
        display: flex;

    }

    .header_inner_left_part {
        display: flex;
        width: 50%;
        flex-direction: column;

    }

    .header_line {
        display: flex;
        justify-content: space-between;

    }

    .left_part_title {
        margin-top: 80px;
        line-height: 60px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
    }

    .left_part_text {
        margin-top: 10px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
    }

    .left_part_button {
        margin-top: 30px;
        display: flex;
        width: 40%;
        padding: 20px;
        border-radius: 100px;
        background-color: #5222D0;
        text-transform: uppercase;
    }

    .left_part_button_text {
        padding-right: 10px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        color: #fff;
    }

    .nav {
        margin-top: 120px;
        display: flex;
        justify-content: space-between;

    }

    .nav_item {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        margin-right: 0px;
        margin-bottom: 30px;
        color: #5222D0;
    }

    .header_inner_right_part {
        background-image: url('assets/images/backgroundboy.svg');
    }

    .right_part_picture {
        margin-top: 30px;
        margin-left: 43px;
        display: grid;
        width: 45vw;
        height: 90vh;
    }

}


.header_logo {
    display: flex;
    margin-top: 30px;
}

.header_logo_name {
    padding-top: 5px;
    font-family: 'Roboto Slab';
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;

}

.button_cart {
    display: flex;
    background-color: #5222D0;
    border-radius: 100px;
    padding-right: 15px;
    margin-top: 30px;

}

.button_cart_text {

    margin-right: 5px;
    padding: 10px 15px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}