* {
    
    box-sizing: border-box;
}


@media screen and (max-width:414px) {

    .wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 390px;

    }

    .header-line {
        display: flex;
        flex-direction: column;

    }

    .button-cart {
        display: flex;
        width: 30vw;
        background-color: #5222D0;
        border-radius: 100px;
        margin-top: 30px;
    }

    .button-cart__text {
        margin-right: 5px;
        padding: 10px;
        font-family: 'Roboto Slab';
        font-weight: 400;
        font-size: 3vh;
        color: #fff;
        text-transform: uppercase;
    }

    #cart-icon{
        display: none;
    }

    .header-inner {
        display: flex;
        flex-direction: column;
    }

    #creditcard {
        display: none;
    }

    .header-inner__left-part {
        display: flex;
        width: 100%;
        flex-direction: column;


    }

    .inner__left-part_title {
        margin-top: 50px;
        line-height: 30px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;

    }

    .inner__left-part_text {
        margin-top: 10px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 25px;

    }

    .inner__left-part_button {

        margin-top: 30px;
        display: flex;
        width: 25vw;
        padding: 10px;
        border-radius: 100px;
        background-color: #5222D0;
        text-transform: uppercase;

    }

    .left-part__button_text {

        padding-right: 10px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 2vh;
        color: #fff;

    }

    .inner__right-part_picture{
        margin-top: 15px;
        margin-left: 23px;
        display: grid;
        width: 80vw;
        height: 50vh;
    }

    .nav {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        line-height: 10px;

    }

    .nav__item{
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        margin-right: 0px;
        margin-bottom: 30px;
        color: #5222D0;
    }

    .main-title {
        margin-top: 80px;
        margin-bottom: 15px;
        font-family: 'Roboto Slab';
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
    }


    #exampleInputEmail1 {
        width: 70vw;
    }



}


@media screen and (min-width:1024px) {
    .wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1292px;
    }

    .header-line {
        display: flex;
        justify-content: space-between;

    }

    .button-cart {
        display: flex;
        background-color: #5222D0;
        border-radius: 100px;
        padding-right: 15px;
        margin-top: 30px;
    }

    .button-cart__text{
        margin-right: 5px;
        padding: 10px 15px;
        font-family: 'Roboto Slab';
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
    }


    .header-inner {
        display: flex;

    }

    .header-inner__left-part {
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    .inner__left-part_title {
        margin-top: 80px;
        line-height: 60px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 800;
        font-size: 60px;
    }

    .inner__left-part_text {
        margin-top: 10px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
    }

    .inner__left-part_button {
        margin-top: 30px;
        display: flex;
        width: 40%;
        padding: 20px;
        border-radius: 100px;
        background-color: #5222D0;
        text-transform: uppercase;
    }

    .left-part__button_text {
        padding-right: 10px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        color: #fff;
    }

    .header-inner__right-part {
        background-image: url('assets/images/backgroundboy.svg');
    }

    .inner__right-part_picture {
        margin-top: 30px;
        margin-left: 43px;
        display: grid;
        width: 45vw;
        height: 90vh;
    }

    .nav {
        margin-top: 120px;
        display: flex;
        justify-content: flex-start;
    }

    .nav__item {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        margin-right: 34px;
        margin-bottom: 30px;
        color: #5222D0;
    }


    .main-title {
        margin-top: 80px;
        margin-bottom: 15px;
        font-family: 'Roboto Slab';
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
    }


    #exampleInputEmail1 {
        width: 20vw;

    }

}


.header-line__logo {
    display: flex;
    margin-top: 30px;
}

.header-line__logo_logo-name {
    padding-top: 5px;
    font-family: 'Roboto Slab';
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;

}


.card-text {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.card-img-top {
    background-color: #EC615B;
    width: 70vw;
    height: 40vh;
}

.form {
    padding-top: 10px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    background-color: #EC615B;
    color: #FFFFFF;
}

.form-group {
    margin-left: 20px;
}

.btn_subscr {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    color: #FFFFFF;
    background-color: #5222D0;
    border-radius: 100px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}