* {
    /*border: 1px solid red;*/
    box-sizing: border-box;
}


@media screen and (max-width:414px) {

    .wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 390px;
    }

    .header_line {
        display: flex;
        flex-direction: column;
    }

    .main_title {
        margin-top: 80px;
        margin-bottom: 15px;
        font-family: 'Roboto Slab';
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
    }

    .button_cart {
        display: flex;
        width: 35%;
        background-color: #5222D0;
        border-radius: 100px;
        margin-top: 30px;
    }

    .button_cart_text {
        margin-right: 5px;
        padding: 10px;
        font-family: 'Roboto Slab';
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
    }

    #exampleInputEmail1 {
        width: 70vw;
    }

    .nav {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        line-height: 10px;
    }


}

@media screen and (min-width:1024px) {

    .wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1292px;
    }

    .header_line {
        display: flex;
        justify-content: space-between;
    }

    .main_title {
        margin-top: 80px;
        margin-bottom: 15px;
        font-family: 'Roboto Slab';
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
    }

    .button_cart {
        display: flex;
        background-color: #5222D0;
        border-radius: 100px;
        padding-right: 15px;
        margin-top: 30px;
    }

    .button_cart_text {
        margin-right: 5px;
        padding: 10px 15px;
        font-family: 'Roboto Slab';
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
    }

    #exampleInputEmail1 {
        width: 20vw;

    }

    .nav {
        margin-top: 120px;
        display: flex;
        justify-content: flex-start;


    }
}



.header_logo {
    display: flex;
    margin-top: 30px;
}

.header_logo_name {
    padding-top: 5px;
    font-family: 'Roboto Slab';
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.card-text {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.card-img-top {
    background-color: #EC615B;
    width: 70vw;
    height: 40vh;
}



.form {
    padding-top: 10px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    background-color: #EC615B;
    color: #FFFFFF;
}

.form-group {
    margin-left: 20px;
}



.btn_subscr {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    color: #FFFFFF;
    background-color: #5222D0;
    border-radius: 100px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}


.nav_item {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-right: 34px;
    margin-bottom: 30px;
    color: #5222D0;
}